/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%;
      
    }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white; 
    color: balck;
}
.tabContainer{
    padding: 10px;
    width: 90%;
  }
  
/* for sidenav to take a whole page */

 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 20%;
  }
  .column.s15proc {
    width: 10%;
  }
  .column.s50proc {
    width: 50%;
  }
  /* Left and right column */
  .column.s10proc {
    width: 10%;
  }
  .column.reszta {
    width: auto;
  }
  /* Middle column */
  .column.middle {
    width: 80%;
  }
  /* Left and right column */
.column.polowa {
    width: 50%;
  }
  .column.mala {
    width: 30%;
  }
  .column.duza {
    width: 70%;
  }

  .lista {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .lista li {
    display: flex;
  }
  
  .lista button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .lista button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .lista button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .lista button.selected {
    background-color: black;
    color: white;
  }
  
  .lista button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .lista button.selected:active {
    background-color: black;
    color: white;
  }
  
  .lista .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0.7em 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .lista .nazwa {
    align-self: center;
    padding: 0.2em;
  }
  .lista .zielony {
    height: 20px;
    width: 20px;
    align-self: center;
    background-color:green;
    padding: 0px;
    margin:0px;
    border-radius: 50%;
  }
  .lista .czerwony {
    height: 20px;
    width: 20px;
    align-self: center;
    background-color:red;
    padding: 0px;
    margin:0px;
  border-radius: 50%;
  }
.labelDiv
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}