div.stopka {
    position: fixed;
    width: 80%;
    bottom: 00px;
    border: 1px solid #8AC007;
    color: white;
    background-color: rgb(128, 98, 0);
  }
  .dotOn {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    font-size: x-small;
  }
  .dotOff {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    font-size: x-small;
  }
  table {
    width: 100%;
  }