<div class="stopka">
   <table>
    <tr>
     <td> <span id="data" >dd-mm-yyyy hh:mi:ss</span> </td>
     <td> <span>Ostatni program: </span> <span id="ostProg">Program1</span>, aktywny od: xx:yy </td>
     <td> <span>Ostatnia akcja: </span><span id="ostAkcja">Sekcja1</span> minęło: <span id="ostAkcjaCzas"> xx:yy </span></td> 
      <td> <span>Stan sekcji:  </span><div style="text-align:center; display: inline;" *ngFor="let s of stany" >
         <span [className]="s.stan ? 'dotOn' : 'dotOff'"> {{s.sekcjaId}}</span>
         
         </div>
      </td>
    </tr>
   </table>
</div>
