/* HeroesComponent's private CSS styles */


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.sekcje-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.label
{
  margin: 0.1em;
  
}
.wiersz
{
  display: block;
}
button{
  margin: 10px;
}