<h2 >Kroki programów</h2>
<div class="row">
    <div class="column s10proc">
       <div class="labelDiv"> Program </div>
    </div>
    <div class="column side">
      <mat-form-field *ngIf="selectedProgram" appearance="fill"> 
            
            <mat-label>Wybierz program do konfigracji</mat-label> 
            <mat-select *ngIf="selectedProgram" [ngModel]="selectedProgram.programId" name="program"
            (selectionChange)="selectProgramChange($event.value)">
                <mat-option *ngFor="let s of programy" [value]="s.programId">
                {{s.nazwa}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="column reszta">
  <!--      <button class="btn btn-success" [disabled]="!zmieniane" (click)="wyslijZmiany()" type="submit">Zapisz zmiany</button>
        <button class="btn btn-danger" [disabled]="!zmieniane" (click)="analujZmiany()" type="cancel">Anuluj</button>
  -->
    </div>
</div>
<div class="row">
    <div class="column side">
        <button class="btn btn-primary" (click)="openDialog(true)"><mat-icon>add</mat-icon><br>nowy</button>  
    </div>
   
    <div class="column polowa" *ngIf="selectedSekwencja">
        <h5> Wybrany krok programu {{selectedProgram?.nazwa}} <h6>(id: {{selectedProgram?.programId}})</h6></h5>
        sekwencjaId: {{ selectedSekwencja? selectedSekwencja.sekwencjaId:'brak'}} <br>
        Sekcja: {{dajNazweSekcji(selectedSekwencja)}}, <br>
        Start: {{getTimeString(selectedSekwencja.startAkcji)}}, <br>
        Długość: {{getTimeString(selectedSekwencja.czasTrwaniaAkcji)}},<br>
        Koniec: {{getTimeString(selectedSekwencja.startAkcji+selectedSekwencja.czasTrwaniaAkcji)}}<br>
        Całkowity czas trwania programu: {{getTimeString(selectedProgram?.calkowityCzasTrwaniaProgramu)}}
    </div>
    <div class="column reszta" *ngIf="!selectedSekwencja">
        Wybierz z diagramu krok do edycji...
    </div>
    <div class="column reszta" *ngIf="selectedSekwencja">
        <button   class="btn btn-info" (click)="openDialog()"><mat-icon>edit</mat-icon><br>edytuj</button>  
        <button  class="btn btn-danger" (click)="deleteSekwencja()"><mat-icon>delete</mat-icon><br>usuń</button>  
    </div>
</div>
<hr>
<!--
<button class="btn btn-danger"  (click)="odswiezWykres()" type="cancel">odswiez</button>

<button class="btn btn-danger"  (click)="tmpZmien()" >zmienAkcje</button>
-->
<app-kontrolka-wykres 
[(odswiez)]="odswWykres"
[nazwyY]="categories"
[dane]="data"
[tytul]="'Przebieg programu'"
[podTytul]="'Kolejne etapy podlewania'"
[selectedID]="selectedSekwencja? selectedSekwencja.sekwencjaId:-1"
(clickAction)="onChartClick($event)"
[formatujOsX]="formatujOsX"
></app-kontrolka-wykres>




