<h2>Kroki programów</h2>
<div class="row">
    <div class="column s10proc">
       <div class="labelDiv"> Program </div>
    </div>
    <div class="column side">
        <mat-form-field appearance="fill">
            <mat-label>Wybierz program do konfigracji</mat-label>
            <mat-select [(ngModel)]="selectedProgram" name="program">
                <mat-option *ngFor="let s of programy" [value]="s.programId">
                {{s.nazwa}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="column reszta">
        <button class="btn btn-success" [disabled]="!zmieniane" (click)="wyslijZmiany()" type="submit">Zapisz zmiany</button>
        <button class="btn btn-danger" [disabled]="!zmieniane" (click)="analujZmiany()" type="cancel">Anuluj</button>
    </div>
</div>
<div class="row">
    <div class="column side">
       
        <button mat-raised-button (click)="openDialog()">Dodaj nowy krok</button>  
        <div >
            <button  mat-raised-button (click)="openDialog()">Edytuj krok</button>  
            <button  mat-raised-button (click)="deleteSekwencja()">Usuń krok</button>  
        </div>
    </div>
   
    <div class="column reszta" *ngIf="selectedSekwencja">
        <h5> Wybrany krok programu {{selectedProgram?.nazwa}} <h6>(id: {{selectedProgram?.programId}})</h6></h5>
        sekwencjaId: {{ selectedSekwencja? selectedSekwencja.sekwencjaId:'brak'}} <br>
        Sekcja: {{selectedSekwencja.sekcjaId}}, akcja: {{selectedSekwencja.akcja}} <br>
        Start: {{selectedSekwencja.startAkcji}}, długość: {{selectedSekwencja.czasTrwaniaAkcji}},
         koniec: {{selectedSekwencja.startAkcji+selectedSekwencja.czasTrwaniaAkcji}}<br>
    </div>
</div>
<hr>

<button class="btn btn-danger"  (click)="mojeData();aktualizujDane();" type="cancel">xxx</button>

<button class="btn btn-danger"  (click)="losuj()" >random</button>

<app-kontrolka-wykres 

[nazwyY]="categories"
[dane]="data"
[selectedID]="selectedSekwencja? selectedSekwencja.sekwencjaId:-1"
(clickAction)="onChartClick($event)"
></app-kontrolka-wykres>




