
<div class="row">
    <div class="column polowa">
      <h2>Programy 
    </h2>
  
      <ul class="lista">
        <li *ngFor="let p of programy">    
          <span [ngClass]="p.aktywny?'zielony':'czerwony'"><mat-icon>{{p.aktywny?'check_circle_outline':'highlight_off'}}</mat-icon></span>
            
          <button [class.selected]="selectedProgram && p.programId===selectedProgram.programId" type="button" (click)="changeSelectProgram(p)">
            <span class="badge">{{p.programId}}</span>
            <span class="nazwa">{{p.nazwa}}</span>
          </button>
           
        </li>
      
      </ul>
    </div>

    <div class="column polowa">
   
        <div *ngIf="selectedProgram">
            <h2>Szczegóły </h2>
            
            <div *ngIf="selectedProgram && selectedProgram.lastProgramRun && selectedProgram.lastProgramRun>=0">
                Ostatnio uruchomiony: {{selectedProgram.lastProgramRun}}</div>
        
            <div>
                <div class="row">
                    <div class="column polowa">
                        <label class="label" for="sekcja-nazwa">Nazwa programu: {{selectedProgram.nazwa}} </label>
                    </div>
                    <div class="column polowa">
                        
                    </div>
                </div>
            </div>
            Całkowity czas trwania programu: {{getCalkowityCzas()}}<br>
            Długość programu: {{predkoscProgramu}}x
            <mat-slider
                thumbLabel
                [(ngModel)]="predkoscProgramu"
                [displayWith]="formatLabel"
                (valueChange)="sliderValChange()"
                tickInterval="0.1"
                step="0.1"
                min="0.5"
                max="2"
                aria-label="units"></mat-slider>
            <hr>
        
        </div>
        <hr>   
        
      
        <button class="btn btn-success" [disabled]="progUruchomiony" (click)="start()" type="submit"><mat-icon>play_circle_filled</mat-icon>Start</button>
        <button class="btn btn-danger" [disabled]="!progUruchomiony" (click)="stop()" type="cancel"><mat-icon>stop</mat-icon>Stop</button>
        

       
        
    </div>
    
</div>

    <app-kontrolka-wykres 
        [(odswiez)]="odswWykres"
        [nazwyY]="categories"
        [dane]="data"
        [tytul]="'Przebieg programu'"
        [podTytul]="'Kolejne etapy podlewania'"
        [formatujOsX]="formatujOsX"
        [pointerVal]="pointerVal"
        ></app-kontrolka-wykres>

