
  <div class="row">
<!--    <div class="column middle">
      <h3>Sekcje</h3>
      <ul class="sekcje" >
        <li  *ngFor="let sekcja of sekcje">
          <button type="button">
            <span class="badge">{{sekcja|json}}</span>
          </button>
        </li>
      </ul>
      <h3>System</h3>
      {{system|json}}
    </div>
-->

 <div class="column side">
  <button type="button" class="btn btn-info" (click)="get('system')"> getSystem</button>
</div><div class="column side">
  <button type="button" class="btn btn-info" (click)="get('sekcje')"> getSekcje</button>
</div><div class="column side">
  <button type="button" class="btn btn-info" (click)="get('programy')"> getProgramy</button>
</div><div class="column side">
<button type="button" class="btn btn-info" (click)="get('sekwencje')"> getSekwencje</button>
</div><div class="column side">
<button type="button" class="btn btn-info" (click)="get('stan')"> getStan</button>
</div>
 
</div>
<div class="row">
  <mat-slide-toggle [(ngModel)]="czyAutoStan" (change)="zmianaAutoStan($event)">AutoStan {{ czyAutoStan? 'Tak':'Nie'}} </mat-slide-toggle>

  <input id="rate" [(ngModel)]="rate"  (ngModelChange)="zmianaAutoStan($event)" placeholder="rate"/>
          
</div>

